.body {
  overflow:hidden;
}

.home-container {
  height:100%;
  width:100%;
  overflow:hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, rgba(4, 255, 17, 0.1) 0%, transparent 70%);
  pointer-events: none;
  background-color: #18332d;
  animation: backgroundPulse 0.6s ease-out;

  z-index: -100;
}

.menu-left {
  width: 50%;

  padding-left:60px;
  gap: 40px;
  flex-direction: row;
  display:flex;
  align-items: center;
}
.menu-right {
  width: 50%;

  padding-right:70px;
  gap: 70px;
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
}

.snow {
  z-index: 50;
}

.mp-home {
  padding:15px;
  position:absolute;
  left:25px;
  bottom:25px;

  display:flex;
  flex-direction: column;
  align-items: center;
  margin:auto;

  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.6rem;
}

.menu-bar {
  margin:1%;
  height: 70px;
  width: 98%;
  background-color: rgba(0, 0, 0, 0.192);
  z-index: 1;

  flex-direction: row;
  display:flex;
}

.webpage-title-cont {
  margin-top: 20px;
  margin-bottom: 40px;
  animation: fadeInUp 1.4s ease-out 0s both;
}

.hallways-home-cont {
  height:80vh;
  overflow: auto;
  scrollbar-width: none;
}

.hallways-home-cont::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  display:none;
} 

.container {

  display:flex;
  flex-direction: column;
  text-align: center;
  color:white;
  font-size: 2rem;
  margin:auto;
  
  overflow:hidden;
}

.lower-row {
  display:flex;
  flex-direction: row;
  margin:auto;
  translate:20%;
  width: 500px;
    margin-top: 30px;
  gap: 20%;
  animation: fadeInUp 1s ease-out 1s both;
}

.about-cont {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  
}